<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
</head>
<body>
<h1>게시글 목록</h1>
<table>
    <tr>
        <th>제목</th>
        <th>내용</th>
        <th>작성일</th>
    </tr>
    <tr th:each="board : ${boardPage.content}">
        <td><a th:href="@{/boards/{id}(id=${board.id})}" th:text="${board.title}">글 제목</a></td>
        <td th:text="${board.content}">글 내용</td>
        <td th:text="${board.createTime}">생성 시간</td>
    </tr>
</table>

<div>
    <span th:if="${boardPage.hasPrevious()}">
        <a th:href="@{/}(page=${boardPage.number - 1})">이전</a>
    </span>

    <span th:if="${boardPage.hasNext()}">
        <a th:href="@{/}(page=${boardPage.number + 1})">다음</a>
    </span>
</div>
<div>
    <a th:href="@{/create}">
        <button>글작성</button>
    </a>
</div>
</body>
</html>
